<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=content-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="geo.region" content="CA" />
        <title>Compare Mortgage Rates</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('./bundles/assets/ico/favicon.png')}}">
    <link rel="shortcut icon" href="{{asset('./bundles/assets/ico/favicon.ico')}}">
    <link href="{{asset('./bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/prettyphoto/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/swiper/css/swiper.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme-red-1.css')}}" rel="stylesheet" id="theme-config-link">
    <script src="{{asset('./bundles/assets/plugins/modernizr.custom.js')}}"></script>
    
     {{ render(controller('MainRatetradeBundle:Default:Header')) }}
           <!-- /HEADER -->
    <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs text-right">
            <div class="container">
                <div class="page-header">
                             <h1 class="entrytitle">Compare Mortgage Rates</h1>
</div>
                <ul class="breadcrumb"> 
                                <li>Home</li>
                                <li class="active">Compare Mortgage Rates</li>
                </ul>
            </div>
        </section>
<!-- /BREADCRUMBS -->

        <!-- PAGE WITH SIDEBAR -->
        <section class="page-section with-sidebar">
            <div class="container">
                <div class="row">
                    
                    <!-- CONTENT -->
                    <div class="col-md-9 content" id="content">

                        <!-- Blog posts -->
                        <article class="post-wrap">
                            <div class="post-media">


                            <div class="content-boxes">
                            
                        <div class="row">
                                <div class="left-content">

                                    <div class="best-rate-box ratebox1">

                                        <table align="left" cellspacing="0" cellpadding="0" class="table-rates fixed">
                                            <tbody>
                                                <tr>
                                                    <th scope="col">Compare By</th>
                                                    <th scope="col" align="center">Rate 1</th>
                                                    <th scope="col" align="center">Rate 2</th>
                                                    <th scope="col" align="center">Rate 3</th>
                                                </tr>
                                                <tr>
                                                    <td class="rchange">&nbsp;</td>  
                                                    <td class="rchange"><span class="get_this-rate">
                                                            <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="add-rate one">
                                                                <span class="wide">
                                                                    {% if rate == '' %}
                                                                        <span id="add-one"><i class="fa fa-2x fa-plus-circle"></i>&nbsp;Add Rate</span>
                                                                        <span style="color:#c11;display: none;" id="minus-one"><i class="fa fa-2x fa-minus-circle" style="color:#c11;"></i>&nbsp;Change Rate</span>
                                                                    {% else %}
                                                                        <span id="add-one" style="display: none;"><i class="fa fa-2x fa-plus-circle"></i>&nbsp;Add Rate</span>
                                                                        <span style="color:#c11;" id="minus-one"><i class="fa fa-2x fa-minus-circle" style="color:#c11;"></i>&nbsp;Change Rate</span>
                                                                    {% endif %}
                                                                </span>
                                                            </a>
                                                        </span>  </td>
                                                    <td  class="rchange"><span class="get_this-rate">
                                                            <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="add-rate two">
                                                                <span class="wide">
                                                                    <span id="add-two"><i class="fa fa-2x fa-plus-circle"></i>&nbsp;Add Rate</span>
                                                                    <span style="color:#c11;display: none;" id="minus-two"><i class="fa fa-2x fa-minus-circle" style="color:#c11;"></i>&nbsp;Change Rate</span>
                                                                </span>
                                                            </a>
                                                        </span>  </td>
                                                    <td  class="rchange"><span class="get_this-rate">
                                                            <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="add-rate three">
                                                                <span class="wide">
                                                                    <span id="add-three"><i class="fa fa-2x fa-plus-circle"></i>&nbsp;Add Rate</span>
                                                                    <span style="color:#c11;display: none;" id="minus-three"><i class="fa fa-2x fa-minus-circle" style="color:#c11;"></i>&nbsp;Change Rate</span>
                                                                </span>
                                                            </a>
                                                        </span>  </td>
                                                </tr>
                                                <tr>
                                                    <td>Rate</td>  
                                                    {% if rate != '' %}
                                                        <td class="rate one">{{rate}} %</td>
                                                    {% else %}
                                                        <td class="rate one">&nbsp;</td>    
                                                    {% endif %}
                                                    <td class="rate two">&nbsp;</td>
                                                    <td class="rate three">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Term</td>  
                                                    <td class="term one">{{term}}</td>
                                                    <td class="term two">&nbsp;</td>
                                                    <td class="term three">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Type</td>  
                                                    <td class="ratetype one">{{type}}</td>
                                                    <td class="ratetype two">&nbsp;</td>
                                                    <td class="ratetype three">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Mortgage Payment<br/>
                                                        <input type="text" value="350,000.00" id="mort-change-val" disabled="disabled" style="text-align: center;"/><br/>
                                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;<a href="#" id="mort-change" class="linkc">Change</a>
                                                        <a href="#" id="mort-update" style="display:none;">Update</a>
                                                    </td>  
                                                    <td class="mort-pay one">
                                                        {% if mortgage != '' and mortgage != '0' %}
                                                            ${{mortgage|number_format(2, '.', ',')}}
                                                        {% else %}
                                                            &nbsp;    
                                                        {% endif %}
                                                    </td>
                                                    <td class="mort-pay two">&nbsp;</td>
                                                    <td class="mort-pay three">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Maximum Mortgage Insurance<br/>
                                                        <select id="insu-change-val" style="text-align: center;">
                                                            <option value="5">5.00 %</option>
                                                            <option value="10">10.00 %</option>
                                                            <option value="15">15.00 %</option>
                                                            <option value="20">20.00 %</option>
                                                        </select>
                                                    </td>  
                                                    <td class="mort-ins one">
                                                        {% if insu != '' and insu != '0' %}
                                                            ${{insu|number_format(2, '.', ',')}}</td>
                                                        {% else %}
                                                        &nbsp;
                                                    {% endif %}
                                                    <td class="mort-ins two">&nbsp;</td>
                                                    <td class="mort-ins three">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>  
                                                    <td>
                                                        <a rt-popup="" href="#" class="apply one">
                                                            <span class="wide">
                                                                <button class="btn btn-success rh-button">
                                                                    Apply Now
                                                                </button>
                                                            </span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a rt-popup="" href="#" class="apply two">
                                                            <span class="wide">
                                                                <button class="btn btn-success rh-button">
                                                                    Apply Now
                                                                </button>
                                                            </span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a rt-popup="" href="#" class="apply three">
                                                            <span class="wide">
                                                                <button class="btn btn-success rh-button">
                                                                    Apply Now
                                                                </button>
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </article>
</div>
                            

 <!-- SIDEBAR -->
                    <aside class="col-md-3 sidebar" id="sidebar">
                    
                    <!-- widget car categories -->
                    <div class="widget shadow car-categories">
                        <h4 class="widget-title">Mortgage Categories</h4>
                        <div class="widget-content">
                            <ul>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-calculator"></i> &nbsp; Calculators</a>
                                    <ul class="children active">
                                                <li><a href="{{path('mortgage_payment')}}">Mortgage Payment</a></li>
                                                <li><a href="{{path('payment_analyzer')}}">Payment Analyzer</a></li>
                                                <li><a href="{{path('income_cal')}}">Income Calculator</a></li>
                                                <li><a href="{{path('affordability_cal')}}">Mortgage Affordability</a></li>
                                                <li><a href="{{path('chmc_insurance')}}">Mortgage Insurance</a></li>
                                                <li><a href="{{path('land_transfer_tax')}}">Land Transfer Tax</a></li>
                                                <li><a href="{{path('refinance-calculator')}}">Refinance Calculator</a></li>
                                                <li><a href="{{path('equity_refinance')}}">Refinance Equity</a></li>
                                                <li><a href="{{path('refinance_penalty')}}">Refinance Penalty</a></li>
                                                <li><a href="{{path('debt-consolidation-calculator')}}">Debt Consolidation</a></li>
                                     </ul>
                                </li>
                                <li> 
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Home Buying Process</a>
                                    <ul class="children">
                                        
                                                {% for a in educationall %}
                                                        {% if a.parentCategory == '6' %}
                                                            <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                       
                                </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Renewing Mortgage</a>
                                    <ul class="children">
                                       {% for a in educationall %}
                                                        {% if a.parentCategory == '18' %}
                                                            <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Refinancing Guide</a>
                                    <ul class="children">
                                      {% for a in educationall %}
                                                        {% if a.parentCategory == '1' %}
                                                            <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                    </ul>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!-- /widget car categories -->
                   
                                 </aside>
                    <!-- /SIDEBAR -->





                </div>
            </div>
        </section>
        {{ render(controller('MainRatetradeBundle:Default:Footer')) }}
        <div class="modal fade" id="agentModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Current Rates</h4>
                        <input type="hidden" id="section"/>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <table class="table-rates fixed" align="left" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <th scope="col">Rate</th>
                                            <th scope="col" align="center">Term</th>
                                            <th scope="col" align="center">Type</th>
                                            <th scope="col" align="center">&nbsp;</th>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    3.1<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">6 Month</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 3.1">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    2.69<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">1 Year</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 2.69">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    2.24<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">2 Year</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 2.24">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    2.39<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">3 Year</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 2.39">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    2.2<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">3 Year</td>
                                            <td class="type">Variable</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 2.2">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    2.59<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">4 Year</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 2.59">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    2.59<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">6 Year</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 2.59">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    3.44<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">9 Year</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 3.44">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="rt-rate">
                                                    3.84<sup>%</sup>
                                                </span>
                                            </td>  
                                            <td class="terms">10 Year</td>
                                            <td class="type">Fixed</td>
                                            <td><span class="get_this-rate">
                                                    <a rt-popup="" href="#" data-toggle="modal" data-target="#agentModal1" class="rate-btn 3.84">
                                                        <span class="wide">
                                                            <button class="btn btn-success rh-button">
                                                                Choose Rate
                                                            </button>
                                                        </span>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <script>

            function validateEmail(email) {
                var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                return re.test(email);
            }

            $(document).on("click", ".subsc", function(e) {
                e.preventDefault();
                $("#exampleInputEmail2").css('border', '1px solid green');

                if ($("#exampleInputEmail2") == '')
                {
                    $("#exampleInputEmail2").focus();
                    $("#exampleInputEmail2").css('border', '1px solid red');
                }
                else if (!validateEmail($("#exampleInputEmail2").val()))
                {
                    $("#exampleInputEmail2").css('border', '1px solid red');
                    $("#exampleInputEmail2").focus();
                }
                else {
                    $.ajax({
                        url: '{{path('email_subscribe')}}',
                        type: "post",
                        async: true,
                        data: {'email': $("#exampleInputEmail2").val(),
                            'name': "testname"},
                        success: function(response) {
                            $("#exampleInputEmail2").val('');
                            alert(response);
                        },
                        error: function(request, error) {
                            // alert('No data found');
                        }
                    });
                }
            });

            function mortgage_insurance(loan_value) {

                if (loan_value < 0.0 || loan_value > 0.95)
                {
                    return -1;
                }

                if (loan_value <= 0.80)
                {
                    return 0.0;
                }
                else if (loan_value <= 0.85)
                {
                    return 0.0180;
                }
                else if (loan_value <= 0.90)
                {
                    return 0.0240;
                }
                else if (loan_value <= 0.95)
                {
                    return 0.036;
                }

            }


            $(document).on("click", ".add-rate", function(e) {
                e.preventDefault();
                var section = $(this).attr("class").split(" ")[1];
                $("#section").val(section);
            });

            $(document).on("click", ".rate-btn", function(e) {
                e.preventDefault();
                var section = $("#section").val();
                var rate = $(this).attr("class").split(" ")[1];
                var term = $(this).closest("tr").find("td.terms").html();
                var type = $(this).closest("tr").find("td.type").html();

                var chmc = (Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) - ((Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * $("#insu-change-val").find('option:selected').val()) / 100)) * mortgage_insurance(1 - $("#insu-change-val").find('option:selected').val() / 100);

                var number_of_payments = 25 * 12;

                var desired_interest_rate = (rate / 100) / 12;

                var installment = Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * ((desired_interest_rate * Math.pow((1 + desired_interest_rate), number_of_payments)) / (Math.pow((1 + desired_interest_rate), number_of_payments) - 1));


                $(".rate." + section).html(rate + " %");
                $(".term." + section).html(term);
                $(".ratetype." + section).html(type);
                $(".mort-ins." + section).html("$" + Math.round(chmc).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                $(".mort-pay." + section).html("$" + Math.round(installment).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));

                $('#add-' + section).hide();
                $('#minus-' + section).show();
            });

            $(document).on("click", "#mort-change", function(e) {
                e.preventDefault();
                $(this).hide();
                $("#mort-update").show();
                $("#mort-change-val").removeAttr("disabled");
                $("#mort-change-val").focus();
            });

            $(document).on("click", "#mort-update", function(e) {
                e.preventDefault();
                $(this).hide();
                $("#mort-change").show();
                $("#mort-change-val").attr("disabled", "disabled");
                $("#mort-change-val").val(Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                var chmc = (Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) - ((Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * $("#insu-change-val").find('option:selected').val()) / 100)) * mortgage_insurance(1 - $("#insu-change-val").find('option:selected').val() / 100);

                var number_of_payments = 25 * 12;

                var desired_interest_rate = 0;

                var installment = 0;


                if ($(".rate.one").html() != '' && $(".rate.one").html() != '&nbsp;')
                {

                    desired_interest_rate = (Number($(".rate.one").html().replace(" %", "")) / 100) / 12;

                    installment = Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * ((desired_interest_rate * Math.pow((1 + desired_interest_rate), number_of_payments)) / (Math.pow((1 + desired_interest_rate), number_of_payments) - 1));

                    $(".mort-pay.one").html("$" + Math.round(installment).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(".mort-ins.one").html("$" + Math.round(chmc).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }

                if ($(".rate.two").html() != '' && $(".rate.two").html() != '&nbsp;')
                {
                    desired_interest_rate = (Number($(".rate.two").html().replace(" %", "")) / 100) / 12;

                    installment = Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * ((desired_interest_rate * Math.pow((1 + desired_interest_rate), number_of_payments)) / (Math.pow((1 + desired_interest_rate), number_of_payments) - 1));

                    $(".mort-pay.two").html("$" + Math.round(installment).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(".mort-ins.two").html("$" + Math.round(chmc).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }

                if ($(".rate.three").html() != '' && $(".rate.three").html() != '&nbsp;')
                {
                    desired_interest_rate = (Number($(".rate.three").html().replace(" %", "")) / 100) / 12;

                    installment = Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * ((desired_interest_rate * Math.pow((1 + desired_interest_rate), number_of_payments)) / (Math.pow((1 + desired_interest_rate), number_of_payments) - 1));

                    $(".mort-pay.three").html("$" + Math.round(installment).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(".mort-ins.three").html("$" + Math.round(chmc).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }
            });

            $(document).on("click", "#insu-change-val", function(e) {
                e.preventDefault();
                var chmc = (Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) - ((Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * $("#insu-change-val").find('option:selected').val()) / 100)) * mortgage_insurance(1 - $("#insu-change-val").find('option:selected').val() / 100);

                var number_of_payments = 25 * 12;

                var desired_interest_rate = 0;

                var installment = 0;


                if ($(".rate.one").html() != '' && $(".rate.one").html() != '&nbsp;')
                {

                    desired_interest_rate = (Number($(".rate.one").html().replace(" %", "")) / 100) / 12;

                    installment = Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * ((desired_interest_rate * Math.pow((1 + desired_interest_rate), number_of_payments)) / (Math.pow((1 + desired_interest_rate), number_of_payments) - 1));

                    $(".mort-pay.one").html("$" + Math.round(installment).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(".mort-ins.one").html("$" + Math.round(chmc).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }

                if ($(".rate.two").html() != '' && $(".rate.two").html() != '&nbsp;')
                {
                    desired_interest_rate = (Number($(".rate.two").html().replace(" %", "")) / 100) / 12;

                    installment = Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * ((desired_interest_rate * Math.pow((1 + desired_interest_rate), number_of_payments)) / (Math.pow((1 + desired_interest_rate), number_of_payments) - 1));

                    $(".mort-pay.two").html("$" + Math.round(installment).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(".mort-ins.two").html("$" + Math.round(chmc).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }

                if ($(".rate.three").html() != '' && $(".rate.three").html() != '&nbsp;')
                {
                    desired_interest_rate = (Number($(".rate.three").html().replace(" %", "")) / 100) / 12;

                    installment = Math.round(Number($("#mort-change-val").val().replace(/[^0-9\.]+/g, ""))) * ((desired_interest_rate * Math.pow((1 + desired_interest_rate), number_of_payments)) / (Math.pow((1 + desired_interest_rate), number_of_payments) - 1));

                    $(".mort-pay.three").html("$" + Math.round(installment).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $(".mort-ins.three").html("$" + Math.round(chmc).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }
            });


            $(document).on("click", ".apply", function(e) {
                e.preventDefault();

                var asection = $(this).attr("class").split(" ")[1];

                if ($(".rate." + asection).html() != '' && $(".rate." + asection).html() != '&nbsp;')
                {
                    window.location.href = '{{path('apply_now')}}' + '?rate=' + $(".rate." + asection).html().replace(" %", "");
                }
            });
        </script>
    </body>
</html>