<footer class="footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <div class="widget">
                            <h4 class="widget-title">About Us</h4>
                            <p>We share knowledge, information, expert advice and easy to use mortgage comparison tools to find you the ideal mortgage rate. </p>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/ratetrade/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/ratetrade/" class="twitter"  target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="instagram"><i class="fa fa-instagram"  target="_blank"></i></a></li>
                                <li><a href="https://in.pinterest.com/ratetrade/" class="pinterest"  target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="col-md-3">
                        <div class="widget widget-categories">
                            <h4 class="widget-title">Resources</h4>
                            <ul>
                                <li><a href="https://www.ratetrade.ca/compare-rates">Compare Rates</a></li>
                                <li><a href="https://www.ratetrade.ca/buying-home-canada">Buying Home in Canada</a></li>
                                <li><a href="https://www.ratetrade.ca/renewing-guide">Renewing Your Mortgage</a></li>
                                <li><a href="https://www.ratetrade.ca/mortgage-refinancing-guide">Mortgage Refinancing Guide</a></li>
                                <li><a href="https://www.ratetrade.ca/mortgage-information-center">Mortgage Information Center</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget widget-categories">
                            <h4 class="widget-title">Community</h4>
                            <ul>
                                <li><a href="https://www.ratetrade.ca/mortgage-broker-signup">Affiliated Partners</a></li>
                                <li><a href="https://www.ratetrade.ca/mortgage-broker-login">Affiliate Login</a></li>
                                <li><a href="https://www.ratetrade.ca/blog">Blog</a></li>
                                <li><a href="https://www.ratetrade.ca/contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
 <div class="col-md-3">
                        <div class="widget">
                            <h4 class="widget-title">News Letter</h4>
                            <p>Sign up to subscribe to our newsletter, receive alerts when rates change or schedule a reminder</p>
                            <form action="#">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Enter Your Mail"/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-theme btn-theme-transparent">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-meta">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12">
                        <p class="btn-row text-center">
                            <a href="https://www.facebook.com/ratetrade/" class="btn btn-theme btn-icon-left facebook" target="_blank"><i class="fa fa-facebook"></i>FACEBOOK</a>
                            <a href="https://twitter.com/ratetrade1" class="btn btn-theme btn-icon-left twitter" target="_blank"><i class="fa fa-twitter"></i>TWITTER</a>
    <a href="https://instagram.com/ratetrade" class="btn btn-theme btn-icon-left ripple-effect instagram wow fadeInDown" data-wow-offset="20" data-wow-delay="200ms" target="_blank"><i class="fa fa-instagram"  target="_blank"></i>INSTAGRAM</a>
                            <a href="https://in.pinterest.com/ratetrade/" class="btn btn-theme btn-icon-left pinterest" target="_blank"><i class="fa fa-pinterest"></i>PINTEREST</a>
                            <a href="https://plus.google.com/112981913805680468055" class="btn btn-theme btn-icon-left google"><i class="fa fa-google" target="_blank"></i>GOOGLE</a>
<a href="https://www.linkedin.com/in/ratetrade-canada-47a075120" class="btn btn-theme btn-icon-left ripple-effect linkedin wow fadeInDown" data-wow-offset="20" data-wow-delay="400ms" target="_blank"><i class="fa fa-linkedin"></i>LINKEDIN</a>
                        </p>
                        <div class="copyright">© 2016 Ratetrade.ca | All right reserved</div>
                       </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->

    <div id="to-top" class="to-top"><i class="fa fa-angle-up"></i></div>

</div>
<!-- /WRAPPER -->
<!-- JS Global -->

<script src="{{asset('./bundles/assets/plugins/jquery/jquery-1.11.1.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/superfish/js/superfish.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/owl-carousel2/owl.carousel.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/jquery.sticky.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/jquery.easing.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/jquery.smoothscroll.min.js')}}"></script>
<!--<script src="{{asset('./bundles/assets/plugins/smooth-scrollbar.min.js')}}"></script>-->
<!--<script src="{{asset('./bundles/assets/plugins/wow/wow.min.js')}}"></script>-->
<script>
    // WOW - animated content
    //new WOW().init();
</script>
<script src="{{asset('./bundles/assets/plugins/swiper/js/swiper.jquery.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/datetimepicker/js/moment-with-locales.min.js')}}"></script>
<script src="{{asset('./bundles/assets/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js')}}"></script>

<!-- JS Page Level -->
<script src="{{asset('./bundles/assets/js/theme-ajax-mail.js')}}"></script>
<script src="{{asset('./bundles/assets/js/theme.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{asset('./bundles/assets/plugins/jquery.cookie.js')}}"></script>
<!--<![endif]-->