<!doctype html>
<html>
  <head>
    <title>{% if pgtitle != '' %}{{pgtitle|raw}}{% else %}{{category}}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=content-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ app.request.uri }}">  
    <meta name="geo.region" content="CA" />
    <meta name="title" content="{% if pgtitle != '' %}{{pgtitle|raw}}{% else %}{{category}}{% endif %}">
    <meta name="description" content="{{mdesc|raw}}"> 
    <meta property="og:type" content="article" />
    <meta name="og:title" content="{% if pgtitle != '' %}{{pgtitle|raw}}{% else %}{{category}}{% endif %}">
    <meta name="og:description" content="{{mdesc|raw}}">
    <meta property="og:site_name" content="Rate Trade" />
    <meta property="article:publisher" content="https://www.facebook.com/ratetrade/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{mdesc|raw}}">
    <meta name="twitter:title" content="{% if pgtitle != '' %}{{pgtitle|raw}}{% else %}{{category}}{% endif %}">
    <meta name="twitter:site" content="@ratetrade" />
    <meta name="twitter:creator" content="@ratetrade" />   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('./bundles/assets/ico/favicon.png')}}">
    <link rel="shortcut icon" href="{{asset('./bundles/assets/ico/favicon.ico')}}">
    <link href="{{asset('./bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/prettyphoto/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/swiper/css/swiper.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme-red-1.css')}}" rel="stylesheet" id="theme-config-link">
    <script src="{{asset('./bundles/assets/plugins/modernizr.custom.js')}}"></script>
       
        <script src="https://code.jquery.com/jquery-1.12.1.min.js" type="text/javascript"></script>
    

          {{ render(controller('MainRatetradeBundle:Default:Header')) }}
    <!-- /HEADER -->
    <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs text-right">
            <div class="container">
                <div class="page-header">
                             <h1 class="entrytitle">{{category}}</h1>
</div>
                <ul class="breadcrumb"> 
                                <li>Home</li>
                                <li class="active">{{category}}</li>
                </ul>
            </div>
        </section>
<!-- /BREADCRUMBS -->

        <!-- PAGE WITH SIDEBAR -->
        <section class="page-section with-sidebar">
            <div class="container">
                <div class="row">
                    
                    <!-- CONTENT -->
                    <div class="col-md-9 content" id="content">

                        <!-- Blog posts -->
                        <article class="post-wrap">
                            <div class="post-media">


                            <div class="content-boxes">
                                {{guidedesc|raw}}
    {% if category == 'Mortgage Renewal Process' %}<div class="reproc">
                                <h3>Mortgage Renewals By Province</h3>
                                {% for p in province %}
                                    <a href="{{path('mortgage_renewals',{'city':p.provinceUrl})}}">{{p.province}}</a>
                                {% endfor %}</div>
                            {% endif %}

 {% if category == 'Cost to Refinance?' %}<div class="reproc">
                                <h3>Mortgage Refinance By Province</h3>
                                {% for p in province %}
                                    <a href="{{path('mortgage_refinance',{'city':p.provinceUrl})}}">{{p.province}}</a>
                                {% endfor %}</div>
                            {% endif %}


                            </div>



                            <div class="clear"></div>
                            <div class="mortapb"><a href="#" class="an-button" data-toggle="modal" data-target="#agentModal1">Apply Now</a>
                                &nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;
                                <a href="{{path('mortgage_rates',{'ratetype':'fixed'})}}" class="an-button">Best Available Rates</a>
                            </div>
                            <div class="clear"></div>
                        

                           





                        </div>
                    </div>


                   
                    </article>
<!-- SIDEBAR -->
                    <aside class="col-md-3 sidebar" id="sidebar">
                    
                    <!-- widget car categories -->
                    <div class="widget shadow car-categories">
                        <h4 class="widget-title">Mortgage Categories</h4>
                        <div class="widget-content">
                            <ul>
                               
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Home Buying Process</a>
  {% if parentcat.id == '6' %}
                                                        <ul class="children active">
                                                        {% else %}
                                                           <ul class="children"> 
                                                            {% endif %}
                                    
                                        
                                                         
                                                            {% for a in educationall %}
                                                                {% if a.parentCategory == '6' %}
                                                                    {% if cat.id == a.id %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}" class="edu-cat">{{a.category}}</a></li>
                                                                        {% else %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                       
                                </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Renewing Mortgage</a>
                             {% if parentcat.id == '18' %}
                                                        <ul class="children active">
                                                        {% else %}
                                                           <ul class="children"> 
                                                            {% endif %}
                                    
                                        
                                        {% for a in educationall %}
                                                                {% if a.parentCategory == '18' %}
                                                                    {% if cat.id == a.id %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}" class="edu-cat">{{a.category}}</a></li>
                                                                        {% else %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Refinancing Guide</a>
                                    {% if parentcat.id == '1' %}
                                                        <ul class="children active">
                                                        {% else %}
                                                           <ul class="children"> 
                                                            {% endif %}
                                    
                                        
                                       {% for a in educationall %}
                                                                {% if a.parentCategory == '1' %}
                                                                    {% if cat.id == a.id %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}" class="edu-cat">{{a.category}}</a></li>
                                                                        {% else %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Mortgage Information</a>
                             {% if parentcat.id == '47' %}
                                                        <ul class="children active">
                                                        {% else %}
                                                           <ul class="children"> 
                                                            {% endif %}
                                    
                                        
                                       {% for a in educationall %}
                                                                {% if a.parentCategory == '47' %}
                                                                    {% if cat.id == a.id %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}" class="edu-cat">{{a.category}}</a></li>
                                                                        {% else %}
                                                                        <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                    </ul>

                                </li>
  {% if parentcat.id == '39' %} <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Auto Insurance</a>
                                    <ul class="children active">
                                           {% for a in educationall %}
                                                                {% if a.parentCategory == '39' %}
                                                                    <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                    </ul>
                                </li>
{% endif %}

{% if parentcat.id == '44' %}

<li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Home Insurance</a>
                                    <ul class="children active">
                                           {% for a in educationall %}
                                                                {% if a.parentCategory == '44' %}
                                                                    <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                    </ul>
                                </li>
{% endif %}


                            </ul>
                        </div>
                    </div>
                    <!-- /widget car categories -->
                                                     </aside>
                    <!-- /SIDEBAR -->
</div></div></section>
                     <!-- FOOTER -->
      {{ render(controller('MainRatetradeBundle:Default:Footer')) }}
<!-- /WRAPPER -->
   <div class="modal fade" id="agentModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="form-class">
                                    <form class="">
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="name"><i class="fa fa-user"></i> &nbsp;Name: *</label>
                                                <input type="text" class="form-control required" name="urName" id="urName" placeholder="Enter Name">
                                            </div>
                                            <div class="form-group">

                                                <label for="phoneNumber"><i class="fa fa-mobile"></i> &nbsp; Phone Number: *</label>
                                                <input type="text"  class="form-control required" name="phoneNumber" id="phonenUmber" placeholder="Enter Phone Number">
                                            </div>
                                            <div class="form-group">
                                                <label for="besttime"><i class="fa fa-clock-o"></i> &nbsp;Best Time to Call: *</label>
                                                <select name="bestTime" id="bestTime"  class="form-control required">
                                                    <option value="anytime">Any Time</option>
                                                    <option value="morning">Morning</option>
                                                    <option value="afternoon">Afternoon</option>
                                                    <option value="evening">Evening</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="forEmail"><i class="fa fa-envelope"></i> &nbsp;Email Address: *</label>
                                                <input type="text"  class="form-control" name="emailId" id="EmailId" placeholder="Enter Email Address">
                                            </div>                                
                                        </div>

                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group">
                                                <label for="agentLocation"><i class="fa fa-map-marker"></i> &nbsp;Location: *</label>
                                                <input type="text" name="agentLocationName" id="agentLocationName" class="form-control" value="" placeholder="Seach City">
                                                <select name="agentLocation" id="agentLocation" class="form-control required" onClick="getPop()" size="5" style="display:none;">
                                                    {% for c in cities %}
                                                        {% if c.cityUrl == 'brampton' %}  
                                                            <option value="{{c.cityUrl}}" selected>{{c.city}}</option>
                                                        {% else %}
                                                            <option value="{{c.cityUrl}}">{{c.city}}</option>   
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="lookingfor"><i class="fa fa-home"></i> &nbsp;I am Looking For: *</label>
                                                <select name="lookingFor" id="lookingFor"  class="form-control required">
                                                    <option value="">Please Select</option>
                                                    <option value="buying" selected>Buying</option>
                                                    <option value="renew-mortgage">Renew Mortgage</option>
                                                    <option value="debt-consolidation">Debt Consolidation</option>
                                                    <option value="refinancing">Refinancing</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <br>
                                                <input type="hidden" id="rate-request" value=""/>
                                                <button type="button" class="btn btn-primary lead-submit" >Submit Now</button>
                                            </div>                                
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div></div></div>
 <script>

                                                    function validateEmail(email) {
                                                        var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                                                        return re.test(email);
                                                    }

                                                    $(document).on("click", ".subsc", function (e) {
                                                        e.preventDefault();
                                                        $("#exampleInputEmail2").css('border', '1px solid green');

                                                        if ($("#exampleInputEmail2") == '')
                                                        {
                                                            $("#exampleInputEmail2").focus();
                                                            $("#exampleInputEmail2").css('border', '1px solid red');
                                                        }
                                                        else if (!validateEmail($("#exampleInputEmail2").val()))
                                                        {
                                                            $("#exampleInputEmail2").css('border', '1px solid red');
                                                            $("#exampleInputEmail2").focus();
                                                        }
                                                        else {
                                                            $.ajax({
                                                                url: '{{path('email_subscribe')}}',
                                                                type: "post",
                                                                async: true,
                                                                data: {'email': $("#exampleInputEmail2").val(),
                                                                    'name': "testname"},
                                                                success: function (response) {
                                                                    $("#exampleInputEmail2").val('');
                                                                    alert(response);
                                                                },
                                                                error: function (request, error) {
                                                                    // alert('No data found');
                                                                }
                                                            });
                                                        }
                                                    });

                                                    $('#locationName').click(function (e) {
                                                        $('.loclist').show(100);
                                                    });
                                                    $('.loclist').blur(function (e) {
                                                        $(this).hide(100);
                                                    });

                                                    function getSelected() {

                                                        document.getElementById('locationName').value = document.getElementById('locationList').value;

                                                        $('#locationList').hide(100);
                                                    }

                                                    $('#agentLocationName').click(function (e) {
                                                        $('#agentLocation').show(100);
                                                    });
                                                    $('#agentLocation').blur(function (e) {
                                                        $(this).hide(100);
                                                    });

                                                    function capitalizeFirstLetter(string) {
                                                        return string.charAt(0).toUpperCase() + string.slice(1);
                                                    }

                                                    $('#agentLocationName').on('input', function () {
                                                        // Getiing option based on input value and setting it as selected
                                                        $('#agentLocation option:contains(' + capitalizeFirstLetter(this.value) + ')').eq(0).prop('selected', true);
                                                    });

                                                    function getPop() {

                                                        //document.getElementById('locationName').value = document.getElementById('locationList').text;
                                                        $('#agentLocationName').val($('option:selected', $('#agentLocation')).text());
                                                        $('#agentLocation').hide(100);
                                                    }


                                                    $('.locations').on('click', function () {

                                                        $('.location-name-box').toggle(500);
                                                    });
                                                    $('.level1Btn').on('click', function (e) {
                                                        e.preventDefault();
                                                        $('.level1 ul').toggle(500);
                                                    });
                                                    $('.level2Btn').on('click', function (e) {
                                                        e.preventDefault();
                                                        $('.level2 ul').toggle(500);
                                                    });
                                                    $('.level3Btn').on('click', function (e) {
                                                        e.preventDefault();
                                                        $('.level3 ul').toggle(500);
                                                    });

                                                    $(document).on("change", ".required", function () {
                                                        $(this).css('border', '1px solid green');

                                                        if ($(this).val() == '')
                                                        {
                                                            $(this).focus();
                                                            $(this).css('border', '1px solid red');
                                                        }

                                                        var id = $(this).attr('id');
                                                        if (id == 'EmailId' && !validateEmail($("#EmailId").val()))
                                                        {
                                                            $("#EmailId").focus();
                                                            $("#EmailId").css('border', '1px solid red');
                                                        }
                                                    });

                                                    $(document).on("click", ".lead-submit", function (e) {

                                                        if ($("#urName").val() == '')
                                                        {
                                                            $("#urName").focus();
                                                            $("#urName").css('border', '1px solid red');
                                                        }
                                                        else if ($("#EmailId").val() == '')
                                                        {
                                                            $("#EmailId").focus();
                                                            $("#EmailId").css('border', '1px solid red');
                                                        }
                                                        else if (!validateEmail($("#EmailId").val()))
                                                        {
                                                            $("#EmailId").css('border', '1px solid red');
                                                            $("#EmailId").focus();
                                                        }
                                                        else if ($("#phonenUmber").val() == '')
                                                        {
                                                            $("#phonenUmber").focus();
                                                            $("#phonenUmber").css('border', '1px solid red');
                                                        }
                                                        else {
                                                            var currentRequest = null;
                                                            $(".lead-submit").text("Please Wait..");
                                                            var formData = {
                                                                fname: $("#urName").val(),
                                                                email: $("#EmailId").val(),
                                                                phone: $("#phonenUmber").val(),
                                                                message: $("#rate-request").val(),
                                                                location: $("#agentLocationName").val(),
                                                                besttime: $("#bestTime").find("option:selected").text(),
                                                                purpose: $("#lookingFor").find("option:selected").text()
                                                            };
                                                            currentRequest = $.ajax({
                                                                type: "post",
                                                                async: true,
                                                                url: "{{path('lead_update')}}",
                                                                data: formData,
                                                                beforeSend: function () {
                                                                    if (currentRequest != null) {
                                                                        currentRequest.abort();
                                                                    }
                                                                },
                                                                success: function (response) {
                                                                    $(".lead-submit").text("Submit");
                                                                    $(".required").removeAttr('style');
                                                                    $("#agentModal1").modal('hide');
                                                                    alert("Query Successful");
                                                                    window.location.href = '/thank-you';
                                                                },
                                                                error: function (request, error) {
                                                                    $(".lead-submit").text("Submit");
                                                                    $(".required").removeAttr('style');
                                                                    alert("Query Failed");
                                                                }
                                                            });
                                                        }
                                                    });
        </script>
</body>
</html>