<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=content-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="geo.region" content="CA" />
        <title>Thank You - Ratetrade.ca</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('./bundles/assets/ico/favicon.png')}}">
    <link rel="shortcut icon" href="{{asset('./bundles/assets/ico/favicon.ico')}}">
    <link href="{{asset('./bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/prettyphoto/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/swiper/css/swiper.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme-red-1.css')}}" rel="stylesheet" id="theme-config-link">
    <script src="{{asset('./bundles/assets/plugins/modernizr.custom.js')}}"></script>
        <script language="JavaScript" 
                src="http://www.iplocationtools.com/iplocationtools.js?key=7b71786a7773756d6a207270">
        </script>


    <body>
           {{ render(controller('MainRatetradeBundle:Default:Header')) }}
  <!-- /HEADER -->
 <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs text-right">
            <div class="container">
                <div class="page-header">
                             <h1 class="entrytitle">Thank You</h1>
</div>
                <ul class="breadcrumb"> 
                                <li>Home</li>
                                <li class="active">Thank You</li>
                </ul>
            </div>
        </section>
<!-- /BREADCRUMBS -->
        <section class="inner-page">

            <div class="container">
                <div class="row text-content">
                    <div class="col-xs-12 col-sm-7 col-md-12">
                        <div class="left-content">
                          
                            <div class="content-boxes">
                                <br/>
                                We have received your message and would like to thank you for writing to us. Your inquiry is very important to us, One of our staff members will contact you shortly.
                                <br/><br/>
                                Talk to you soon,<br/>
                                Ratetrade.ca
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<br/>

        </section>
        {{ render(controller('MainRatetradeBundle:Default:Footer')) }} 
        <script src="{{asset('./bundles/mainratetrade/js/bootstrap.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('./bundles/mainratetrade/js/menu-js.js')}}" type="text/javascript"></script>
        <script>

            function validateEmail(email) {
                var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                return re.test(email);
            }

            $(document).on("click", ".subsc", function(e) {
                e.preventDefault();
                $("#exampleInputEmail2").css('border', '1px solid green');

                if ($("#exampleInputEmail2") == '')
                {
                    $("#exampleInputEmail2").focus();
                    $("#exampleInputEmail2").css('border', '1px solid red');
                }
                else if (!validateEmail($("#exampleInputEmail2").val()))
                {
                    $("#exampleInputEmail2").css('border', '1px solid red');
                    $("#exampleInputEmail2").focus();
                }
                else {
                    $.ajax({
                        url: '{{path('email_subscribe')}}',
                        type: "post",
                        async: true,
                        data: {'email': $("#exampleInputEmail2").val(),
                            'name': "testname"},
                        success: function(response) {
                            $("#exampleInputEmail2").val('');
                            alert(response);
                        },
                        error: function(request, error) {
                            // alert('No data found');
                        }
                    });
                }
            });

            $('.locations').on('click', function() {

                $('.location-name-box').toggle(500);
            });
            $('.level1Btn').on('click', function(e) {
                e.preventDefault();
                $('.level1 ul').toggle(500);
            });
            $('.level2Btn').on('click', function(e) {
                e.preventDefault();
                $('.level2 ul').toggle(500);
            });
            $('.level3Btn').on('click', function(e) {
                e.preventDefault();
                $('.level3 ul').toggle(500);
            });
        </script>
    </body>
</html>
