<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=content-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="geo.region" content="CA" />
        <title>Apply For Lowest Mortgage Interest Rates</title>
        <meta name="description" content="Apply For Lowest Mortgage Interest Rates"/>
        <meta property="og:type" content="article" />
        <meta name="twitter:card" content="summary" />
        <meta property="og:site_name" content="Rate Trade" />
        <meta property="article:publisher" content="https://www.facebook.com/ratetrade/" />
        <meta name="twitter:site" content="@ratetrade" />
        <meta name="twitter:creator" content="@ratetrade" />   
        <link rel="canonical" href=" https://www.ratetrade.ca/apply-now"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="favicon.ico" rel="shortcut icon" type="image/png">
    <link href="favicon.ico" rel="apple-touch-icon">
    <link href="favicon.ico" rel="apple-touch-icon" sizes="72x72">
    <link href="favicon.ico" sizes="114x114">
    <link href="favicon.ico" rel="apple-touch-icon" sizes="144x144">
    <link href="{{asset('./bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/prettyphoto/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/swiper/css/swiper.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme-red-1.css')}}" rel="stylesheet" id="theme-config-link">
    <script src="{{asset('./bundles/assets/plugins/modernizr.custom.js')}}"></script>
     <link rel="alternate" hrefLang="x-default" href="{{ app.request.uri }}"/>
        <script language="JavaScript" 
                src="https://www.iplocationtools.com/iplocationtools.js?key=7b71786a7773756d6a207270">
        </script>


    <body>
           {{ render(controller('MainRatetradeBundle:Default:Header')) }}


        <section class="inner-page">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="agentModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h1 class="modal-title" id="myModalLabel2 " style="font-size: 17px;">Contact For Rate <span id="rate-r">{{rate}}</span> %</h1>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-class">
                                                    <form class="">
                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="name"><i class="fa fa-user"></i> &nbsp;Name: *</label>
                                                                <input type="text" class="form-control required" name="urName" id="urName" placeholder="Enter Name">
                                                            </div>
                                                            <div class="form-group">

                                                                <label for="phoneNumber"><i class="fa fa-mobile"></i> &nbsp; Phone Number: *</label>
                                                                <input type="text"  class="form-control required" name="phoneNumber" id="phonenUmber" placeholder="Enter Phone Number">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="besttime"><i class="fa fa-clock-o"></i> &nbsp;Best Time to Call: *</label>
                                                                <select name="bestTime" id="bestTime"  class="form-control required">
                                                                    <option value="anytime">Any Time</option>
                                                                    <option value="morning">Morning</option>
                                                                    <option value="afternoon">Afternoon</option>
                                                                    <option value="evening">Evening</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="forEmail"><i class="fa fa-envelope"></i> &nbsp;Email Address: *</label>
                                                                <input type="text"  class="form-control" name="emailId" id="EmailId" placeholder="Enter Email Address">
                                                            </div>                                
                                                        </div>

                                                        <div class="col-xs-12 col-sm-6">
                                                            <div class="form-group">
                                                                <label for="agentLocation"><i class="fa fa-map-marker"></i> &nbsp;Location: *</label>
                                                                <input type="text" name="agentLocationName" id="agentLocationName" class="form-control" value="" placeholder="Seach City">
                                                                <select name="agentLocation" id="agentLocation" class="form-control required" onClick="getPop()" size="5" style="display:none;">
                                                                    {% for c in cities %}
                                                                        {% if c.cityUrl == 'brampton' %}  
                                                                            <option value="{{c.cityUrl}}" selected>{{c.city}}</option>
                                                                        {% else %}
                                                                            <option value="{{c.cityUrl}}">{{c.city}}</option>   
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="lookingfor"><i class="fa fa-home"></i> &nbsp;I am Looking For: *</label>
                                                                <select name="lookingFor" id="lookingFor"  class="form-control required">
                                                                    <option value="">Please Select</option>
                                                                    <option value="buying">Buying</option>
                                                                    <option value="renew-mortgage">Renew Mortgage</option>
                                                                    <option value="debt-consolidation">Debt Consolidation</option>
                                                                    <option value="refinancing">Refinancing</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <br>
                                                                <input type="hidden" id="rate-request" value="{{rate}}"/>
                                                                <button type="button" class="btn btn-primary lead-submit" >Submit Now</button>
                                                            </div>                                
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ render(controller('MainRatetradeBundle:Default:Footer')) }}

        <script>
                                                                    $(document).ready(function () {
                                                                        if (ip2location_country_long() === 'Canada')
                                                                        {
                                                                            $("#agentLocationName").val(ip2location_city());
                                                                            $("#agentLocation").find("option:contains('" + ip2location_city() + "')").prop("selected", true);
                                                                        }
                                                                        else
                                                                        {
                                                                            $("#agentLocationName").val("Brampton");
                                                                            $("#agentLocation").find("option:contains('Brampton')").prop("selected", true);
                                                                        }
                                                                    });

                                                                    $('.locations').on('click', function () {

                                                                        $('.location-name-box').toggle(500);
                                                                    });
                                                                    $('.level1Btn').on('click', function () {
                                                                        $('.level1 ul').toggle(500);

                                                                    });
                                                                    $('.level2Btn').on('click', function () {
                                                                        $('.level2 ul').toggle(500);

                                                                    });
                                                                    $('.level3Btn').on('click', function () {
                                                                        $('.level3 ul').toggle(500);

                                                                    });

                                                                    $('#agentLocationName').click(function (e) {
                                                                        $('#agentLocation').show(100);
                                                                    });
                                                                    $('#agentLocation').blur(function (e) {
                                                                        $(this).hide(100);
                                                                    });

                                                                    function capitalizeFirstLetter(string) {
                                                                        return string.charAt(0).toUpperCase() + string.slice(1);
                                                                    }

                                                                    $('#agentLocationName').on('input', function () {
                                                                        // Getiing option based on input value and setting it as selected
                                                                        $('#agentLocation option:contains(' + capitalizeFirstLetter(this.value) + ')').eq(0).prop('selected', true);
                                                                    });

                                                                    function getPop() {

                                                                        //document.getElementById('locationName').value = document.getElementById('locationList').text;
                                                                        $('#agentLocationName').val($('option:selected', $('#agentLocation')).text());
                                                                        $('#agentLocation').hide(100);
                                                                    }



                                                                    function validateEmail(email) {
                                                                        var re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                                                                        return re.test(email);
                                                                    }

                                                                    $(document).on("click", ".subsc", function (e) {
                                                                        e.preventDefault();
                                                                        $("#exampleInputEmail2").css('border', '1px solid green');

                                                                        if ($("#exampleInputEmail2") == '')
                                                                        {
                                                                            $("#exampleInputEmail2").focus();
                                                                            $("#exampleInputEmail2").css('border', '1px solid red');
                                                                        }
                                                                        else if (!validateEmail($("#exampleInputEmail2").val()))
                                                                        {
                                                                            $("#exampleInputEmail2").css('border', '1px solid red');
                                                                            $("#exampleInputEmail2").focus();
                                                                        }
                                                                        else {
                                                                            $.ajax({
                                                                                url: '{{path('email_subscribe')}}',
                                                                                type: "post",
                                                                                async: true,
                                                                                data: {'email': $("#exampleInputEmail2").val(),
                                                                                    'name': "testname"},
                                                                                success: function (response) {
                                                                                    $("#exampleInputEmail2").val('');
                                                                                    alert(response);
                                                                                },
                                                                                error: function (request, error) {
                                                                                    // alert('No data found');
                                                                                }
                                                                            });
                                                                        }
                                                                    });

                                                                    $(document).on("change", ".required", function () {
                                                                        $(this).css('border', '1px solid green');

                                                                        if ($(this).val() == '')
                                                                        {
                                                                            $(this).focus();
                                                                            $(this).css('border', '1px solid red');
                                                                        }

                                                                        var id = $(this).attr('id');
                                                                        if (id == 'EmailId' && !validateEmail($("#EmailId").val()))
                                                                        {
                                                                            $("#EmailId").focus();
                                                                            $("#EmailId").css('border', '1px solid red');
                                                                        }
                                                                    });

                                                                    $(document).on("click", ".lead-submit", function (e) {

                                                                        if ($("#urName").val() == '')
                                                                        {
                                                                            $("#urName").focus();
                                                                            $("#urName").css('border', '1px solid red');
                                                                        }
                                                                        else if ($("#EmailId").val() == '')
                                                                        {
                                                                            $("#EmailId").focus();
                                                                            $("#EmailId").css('border', '1px solid red');
                                                                        }
                                                                        else if (!validateEmail($("#EmailId").val()))
                                                                        {
                                                                            $("#EmailId").css('border', '1px solid red');
                                                                            $("#EmailId").focus();
                                                                        }
                                                                        else if ($("#phonenUmber").val() == '')
                                                                        {
                                                                            $("#phonenUmber").focus();
                                                                            $("#phonenUmber").css('border', '1px solid red');
                                                                        }
                                                                        else {
                                                                            var currentRequest = null;
                                                                            $(".lead-submit").text("Please Wait..");
                                                                            var formData = {
                                                                                fname: $("#urName").val(),
                                                                                email: $("#EmailId").val(),
                                                                                phone: $("#phonenUmber").val(),
                                                                                message: $("#rate-request").val(),
                                                                                location: $("#agentLocationName").val(),
                                                                                besttime: $("#bestTime").find("option:selected").text(),
                                                                                purpose: $("#lookingFor").find("option:selected").text()
                                                                            };
                                                                            currentRequest = $.ajax({
                                                                                type: "post",
                                                                                async: true,
                                                                                url: "lead-update.php",
                                                                                data: formData,
                                                                                beforeSend: function () {
                                                                                    if (currentRequest != null) {
                                                                                        currentRequest.abort();
                                                                                    }
                                                                                },
                                                                                success: function (response) {
                                                                                    $(".lead-submit").text("Submit");
                                                                                    $(".required").removeAttr('style');
                                                                                    $("#agentModal1").modal('hide');
                                                                                    alert("Thanks for appying for Mortgage. Our executive will contact you soon");
                                                                                    window.location.href = '/thank-you';
                                                                                },
                                                                                error: function (request, error) {
                                                                                    $(".lead-submit").text("Submit");
                                                                                    $(".required").removeAttr('style');
                                                                                    alert("Query Failed");
                                                                                }
                                                                            });
                                                                        }
                                                                    });

        </script>
    </body>
</html>