<!doctype html>
<html lang="en">
    <head>
        <title> {% for a in educationall %}{% if a.id == '48' %}{{a.ptitle}}{% endif %}{% endfor %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=content-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="{{ app.request.uri }}">  
        <meta name="geo.region" content="CA">
        <meta name="title" content="{% for a in educationall %}{% if a.id == '48' %}{{a.ptitle}}{% endif %}{% endfor %}">
        <meta name="description" content="{% for a in educationall %}{% if a.id == '48' %}{{a.mdescription}}{% endif %}{% endfor %}"> 
        <meta name="keywords" content="Current Bank Mortgage Rates In Canada, Scotiabank Mortgage Rates, Best Mortgage Rates Canada 5 Years Fixed, Td Mortgage Rates, Mortgage Rates Canada 2023, Canada Mortgage Rates Forecast, Current Mortgage Rates Canada, Mortgage Rates Ontario, Hsbc Mortgage Rates" >        
        <meta property="og:type" content="article">
        <meta name="og:title" content="{% for a in educationall %}{% if a.id == '48' %}{{a.ptitle}}{% endif %}{% endfor %}">
        <meta name="og:description" content="{% for a in educationall %}{% if a.id == '48' %}{{a.mdescription}}{% endif %}{% endfor %}">
        <meta property="og:site_name" content="Rate Trade">
        <meta property="article:publisher" content="https://www.facebook.com/ratetrade">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="{% for a in educationall %}{% if a.id == '48' %}{{a.mdescription}}{% endif %}{% endfor %}">
        <meta name="twitter:title" content="{% for a in educationall %}{% if a.id == '48' %}{{a.ptitle}}{% endif %}{% endfor %}">
        <meta name="twitter:site" content="@ratetrade">
        <meta name="twitter:creator" content="@ratetrade"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="favicon.ico" rel="shortcut-icon" type="image/png">
        <link href="favicon.ico" rel="apple-touch-icon">
        <link href="favicon.ico" rel="apple-touch-icon" sizes="72x72">
        <link href="favicon.ico" sizes="114x114" rel="apple-touch-icon">
        <link href="favicon.ico" rel="apple-touch-icon" sizes="144x144">
        <link href="{{asset('./bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/plugins/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/plugins/prettyphoto/css/prettyPhoto.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.carousel.min.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/plugins/animate/animate.min.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/plugins/swiper/css/swiper.min.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/css/theme.css')}}" rel="stylesheet">
        <link href="{{asset('./bundles/assets/css/theme-red-1.css')}}" rel="stylesheet" id="theme-config-link">
        <link rel="alternate" hrefLang="x-default" href="{{ app.request.uri }}">
        <script src="{{asset('./bundles/assets/plugins/modernizr.custom.js')}}"></script>
        <script src="https://www.iplocationtools.com/iplocationtools.js?key=7b71786a7773756d6a207270"></script>
        
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap.min.css" rel="stylesheet">    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.colVis.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>

<style>
.content-boxes li:before
{
    content: none;
    display: inline-table;
    font-family: fontawesome;
    font-size: 14px;
    margin-right: 10px;
    margin-left: -22px;  
}
</style>
 
    {{ render(controller('MainRatetradeBundle:Default:Header')) }}
    <!-- /HEADER -->
    <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs text-right">
            <div class="container">
                <div class="page-header">
                             <h1 class="entrytitle">Best Bank Mortgage Rates in Canada</h1>
</div>
                <ul class="breadcrumb"> 
                                <li>Home</li>
                                <li class="active">Bank Mortgage Rates</li>
                </ul>
            </div>
        </section>
<!-- /BREADCRUMBS -->
 <!-- PAGE WITH SIDEBAR -->
        <section class="page-section with-sidebar">
            <h2 style="display:none">Bank Mortgage Rates</h2>
            <div class="container">
                <div class="row">
                   

 <!-- CONTENT -->
                    <div class="col-md-12 content" id="content">

                        <!-- Blog posts -->
                        <article class="post-wrap">
                            <div class="post-media">


                            <div class="content-boxes blist">
                                <div class="best-rate-box">
                                   
                                    <form action="#" method="post">
                                        <div class="col">
                                         <div class="col-sm-2">
                                            <div class="form-group has-icon has-label">
                                        <label>Select Rate</label> 
                                       <select id="dropdownRate" class="selectpicker1 input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                                        
                                        </select>
                                        

                                        </div></div>
                                        <div class="col-sm-3">
                                            <div class="form-group has-icon has-label">
                                        <label>Select Term</label> 
                                       <select  id="dropdownTerm" class="selectpicker1 input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                                        </select>
                                        </div></div>
                                        <div class="col-sm-3">
                                            <div class="form-group has-icon has-label">
                                        <label>Select Type</label> 
                                       <select id="dropdownType" class="selectpicker1 input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">

                                        </select>
                                        </div></div>
                                         <div class="col-sm-2">
                                            <div class="form-group has-icon has-label">
                                        <label>Select Bank</label> 
                                       <select id="dropdownProvider" class="selectpicker1 input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                                        </select>
                                        </div></div>
                                         <div class="col-sm-2">
                                            <div class="form-group has-icon has-label">
                                        <label>Select</label> 
                                       <select id="pagenavi" class="selectpicker1 input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                                        <option value='10'>10</option>
                                        <option value='200'>200</option>
                                       
                                        </select>
                                        </div></div>
                                        </div>
                                    </form>
                                    
                                        {#<table id="example" align="left" cellspacing="0" cellpadding="0" class="table-rates fixed">#}
                                        {#    <thead>#}
                                        {#         <tr>#}
                                        {#            <th scope="col">Rate</th>#}
                                        {#            <th scope="col" align="center">Term</th>#}
                                        {#            <th scope="col" align="center">Type</th>#}
                                        {#            <th scope="col" align="center">Provider</th>#}
                                        {#            <th scope="col" align="center">&nbsp;</th>#}
                                        {#        </tr>#}
                                        {#    </thead>#}
                                                <div id="table"></div>
                                                <div class="pagination-wrapper">        
                                                
                                                </div>
                                        {#</table>#}
                                        
                                    </div>
<div class="clear"></div>
<h2><strong>Bank Mortgage Rates in Canada</strong></h2>
<p>When you are completely lost in the  crowd of countless banks, lenders and financial organizations that lend money  for the mortgage; we are here to remove your confusion and assist you with the  best suggestion.</p> 
<p>At Rate Trade we shop the most  outstanding and competitive lenders, brokers as well as banks in Canada so that  you can know about the lowest interest rates of this present time.<br>
<p>We provide you with the <b>top  Canadian comparison chart</b> where you can know the rate of interest of different  banks and brokers, and at the same time, you can compare them easily by using  our <b><a href="https://www.ratetrade.ca/mortgage-payment-calculator">mortgage loan calculator</a></b>.</p>
<strong>What Are The Top Features</strong>
<p>Yes, it is true that there are  plenty of other websites that provide similar kind of service. However, there  is something that we follow on our website to remain ahead of our competitors.</p>
  <ul>
    <li>We keep updating our chart as per the latest rates of various banks and  lenders.</li>
    <li>We try to include the top banks and lenders in this list so that you can  always have some accurate and efficient service.</li>
    <li>The website provides you with a <b>comparison of mortgage rates</b> of  different categories like broker mortgage rates, HELOC rates, Cash back  mortgage rates, etc.</li>
    <li>Since we offer plenty of options in front of you, it becomes easier to  compare and get the best rate according to your budget.</li>
    <li>Our comparison service is for free of cost. </li>
  </ul>
<h3><strong>Why Should You Go For Mortgage Comparison</strong>
  </h3>
<p>Different banks and brokers can  come to you with different mortgage rates as per their distinct business goals  and profit margins. That means you cannot get an equal rate from all of them.  Thus, the comparison is necessary to find out the most cost-effective deal for  your mortgage loan.</p>
<p>Please call us or send us emails  for detailed information about this service.</p>

     </div>
</div>
</article>
</div>
</div></div></section>
                     <!-- FOOTER -->
      {{ render(controller('MainRatetradeBundle:Default:Footer')) }}
<!-- /WRAPPER -->
<script>
    $(document).ready(function() {
      getRate();
      getdropdownType();
      getdropdropdownTerm();
      getdropdownProvider();
      getonload();
    });
    function getRate() {
        $.ajax({
            type: "POST",
            data:{data:'dropdownRate'},
            url: "symfonyratetrade/web/bundles/assets/php/table.php",
            cache: false,
            success: function(text) {
                response = text;
                 $("#dropdownRate").html(response); 
            }
        });
    }
    function getdropdownType() {
        $.ajax({
            type: "POST",
            data:{data:'dropdownType'},
            url: "symfonyratetrade/web/bundles/assets/php/table.php",
            cache: false,
            success: function(text) {
                response = text;
                 $("#dropdownType").html(response); 
            }
        });
    }
     function getdropdropdownTerm() {
        $.ajax({
            type: "POST",
            data:{data:'dropdownTerm'},
            url: "symfonyratetrade/web/bundles/assets/php/table.php",
            cache: false,
            success: function(text) {
                response = text;
                 $("#dropdownTerm").html(response); 
            }
        });
    }
    function getdropdownProvider() {
        $.ajax({
            type: "POST",
            data:{data:'dropdownProvider'},
            url: "symfonyratetrade/web/bundles/assets/php/table.php",
            cache: false,
            success: function(text) {
                response = text;
                 $("#dropdownProvider").html(response); 
            }
        });
    }

 function getdropdownProvider() {
        $.ajax({
            type: "POST",
            data:{data:'dropdownProvider'},
            url: "symfonyratetrade/web/bundles/assets/php/table.php",
            cache: false,
            success: function(text) {
                response = text;
                 $("#dropdownProvider").html(response); 
            }
        });
    }

 function getonload() {
    $.ajax({
            type: "POST",
            data:{data:'table'},
            url: "symfonyratetrade/web/bundles/assets/php/table.php",
            cache: false,
            success: function(text) {
                response = text;
                 $("#table").html(response); 
            }
        });   
    }
$("#dropdownType , #dropdownTerm , #dropdownRate, #dropdownProvider , #pagenavi").change(function()
{
   var dropdownType= $("#dropdownType").val();
   var dropdownTerm= $("#dropdownTerm").val();
   var dropdownRate= $("#dropdownRate").val();
   var pagenavi= $("#pagenavi").val();
   var dropdownProvider= $("#dropdownProvider").val();
   $.ajax({
            type: "POST",
            data:{data:'table',dropdownType:dropdownType , dropdownTerm:dropdownTerm , dropdownRate:dropdownRate , dropdownProvider:dropdownProvider , pagenavi:pagenavi },
            url: "symfonyratetrade/web/bundles/assets/php/table.php",
            cache: false,
            success: function(text) {
                response = text;
                 $("#table").html(response);
            }
        });
});
</script>