<!doctype html>
<html lang="en">
    <head>
        <title>RateTrade | cmhc Mortgage Insurance Calculator Canada | Calculate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=content-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="{{ app.request.uri }}">  
        <meta name="geo.region" content="CA" />
        <meta name="title" content="RateTrade | cmhc Mortgage Insurance Calculator Canada | Calculate">
        <meta name="description" content="RateTrade cmhc Insurance Calculator Canada. Find out the monthly payments on a mortgage and also compare different mortgage rates in Canada."> 
         <meta name="keywords" content="mortgage calculator, cmhc mortgage affordability calculator, mortgage loan insurance calculator, what does cmhc insurance cover, mortgage calculator Canada, cibc mortgage calculator, cmhc insurance refund, rbc mortgage calculator">
        <meta property="og:type" content="article" />
        <meta name="og:title" content="RateTrade | cmhc Mortgage Insurance Calculator Canada | Calculate">
        <meta name="og:description" content="RateTrade cmhc Insurance Calculator Canada. Find out the monthly payments on a mortgage and also compare different mortgage rates in Canada.">
        <meta property="og:site_name" content="Rate Trade" />
        <meta property="article:publisher" content="https://www.facebook.com/ratetrade/" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="RateTrade cmhc Insurance Calculator Canada. Find out the monthly payments on a mortgage and also compare different mortgage rates in Canada.">
        <meta name="twitter:title" content="RateTrade | cmhc Mortgage Insurance Calculator Canada | Calculate">
        <meta name="twitter:site" content="@ratetrade" />
        <meta name="twitter:creator" content="@ratetrade" />
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="favicon.ico" rel="shortcut icon" type="image/png">
    <link href="favicon.ico" rel="apple-touch-icon">
    <link href="favicon.ico" rel="apple-touch-icon" sizes="72x72">
    <link href="favicon.ico" sizes="114x114">
    <link href="favicon.ico" rel="apple-touch-icon" sizes="144x144">
    <link href="{{asset('./bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/prettyphoto/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/swiper/css/swiper.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme-red-1.css')}}" rel="stylesheet" id="theme-config-link">
    <link rel="alternate" hrefLang="x-default" href="{{ app.request.uri }}"/>
	    <script src="/./bundles/assets/plugins/modernizr.custom.js"></script>
     <link rel="stylesheet" type="text/css" href="/./bundles/acmedemo/css/emicalculator.css">
<link rel="stylesheet" type="text/css" href="/./bundles/acmedemo/css/jquery-ui.css"> 
 

  
          {{ render(controller('MainRatetradeBundle:Default:Header')) }}    <!-- /HEADER -->
 <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs text-right">
            <div class="container">
                <div class="page-header">
                             <h1 class="entrytitle">CMHC Mortgage Insurance Calculator Canada</h1>
</div>
                <ul class="breadcrumb"> 
                                <li>Home</li>
                                <li>Calculator</li>
                                <li class="active">Mortgage Insurance Calculator</li>
                </ul>
            </div>
        </section>
<!-- /BREADCRUMBS --
        <!-- PAGE WITH SIDEBAR -->
        <section class="page-section with-sidebar">
            <div class="container">
                <div class="row">
                    
                    <!-- CONTENT -->
                    <div class="col-md-9 content" id="content">

                        <!-- Blog posts -->
                        <article class="post-wrap">
                            <div class="post-media">


                            <div class="content-boxes framecontent">
                                
								
				<form>
  <div class="pboxheading">CALCULATE MORTGAGE INSURANCE</div>
                        <div class="pbox">
                            <div class="sep lint">
                                <label for="loanamount" class="orange"><strong>Property Value ($)</strong> </label>
                                <span></span>
                            </div>
                            <div class="datafeild">
                                <label class="property-error errorc" style="color: #993A00;"></label>
                                <input id="loanamount" name="loanamount" value="" type="text" />
                                <span class="prc-addon">$</span>
                                <div id="loanamountslider"></div>
                                <div id="loanamountsteps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">$500,000</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">$1M</span></span>
                                    <span class="tick" style="left:  50%;">|<br/><span class="marker">$1.5M</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">$2M</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">$2.5M</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">$3</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="pbox">
                            <div class="sep lint">
                                <label for="loaninterest" class="orange"><strong>Down Payment (%)</strong> </label>
                                <span></span></div>
                            <div class="datafeild">
                                <label class="down-error errorc" style="color: #993A00;display: none;"> </label>
                                <input id="loaninterest" name="loaninterest" value="" type="text" />
                                <span class="prc-addon">%</span>
                                <div id="down1">
                                    <div id="loaninterestslider"></div>
                                    <div id="loanintereststeps" class="steps">
                                        <span class="tick" style="left: 0%;">|<br/><span class="marker">5</span></span>
                                        <span class="tick" style="left: 25%;">|<br/><span class="marker">8.75</span></span>
                                        <span class="tick" style="left: 50%;">|<br/><span class="marker">12.5</span></span>				            
                                        <span class="tick" style="left: 75%;">|<br/><span class="marker">16.25</span></span>
                                        <span class="tick" style="left: 100%;">|<br/><span class="marker">20</span></span>
                                    </div>
                                </div>
                                <div id="down2" style="display:none;">
                                    <div id="loaninterestslider2"></div>
                                    <div id="loanintereststeps" class="steps">
                                        <span class="tick" style="left: 0%;">|<br/><span class="marker">20</span></span>
                                        <span class="tick" style="left: 25%;">|<br/><span class="marker">25</span></span>
                                        <span class="tick" style="left: 50%;">|<br/><span class="marker">30</span></span>				            
                                        <span class="tick" style="left: 75%;">|<br/><span class="marker">35</span></span>
                                        <span class="tick" style="left: 100%;">|<br/><span class="marker">40</span></span>
                                    </div>
                                </div>
                            </div></div>
                  
            </form>
          </div>
                </div>
    <div class="box-7 resultrate">
        <strong style="color: rgb(127, 0, 135);">CMHC / GE / CG</strong><br/>
        <input id="chmc-ins" value="" type="text" disabled="disabled" style=" border-radius: 7px;
               color: rgb(0, 0, 0);
               font-weight: bold;
               padding: 9px;
               text-align: center;
               width: 29%;"/> 
    </div>
								
								
								
								
                                <div class="clear"></div>
<div class="calinfo">
<p><strong>CMHC Mortgage Insurance Calculator</strong>
  CMHC or Canada Mortgage And Housing  Corporation Insurance is commonly known as Mortgage Default Insurance. This  insurance is mandatory in all the provinces of Canada in case you need to make  the down payments between 5% and 19.99%.</p>
<p><strong>The Main Aim Of This Insurance</strong>
The main goal of this insurance is  to protect the lenders if the borrower cannot make the regular payments or stop  making the payment of the loan and becomes a defaulted on the mortgage loan.  The lender can claim the insurance to cover their loss.</p>
<p>It is true that as a home buyer  this insurance can cost you 2.80% to 4% of your total mortgage amount, but it  can bring scopes to you as a Canadian to access the real estate market in this  country, which is otherwise, may not be an easy matter for you.</p>
<p><strong>Points You Must Know About Mortgage Insurance</strong></p>
  <ul>
  <li>Without this insurance, the mortgage rates will be higher, because the  risk of default can be increased in such cases.</li>
  <li>Lenders prefer to offer lowers mortgage rates to the borrowers when they  know that their loan is secured because of that insurance.</li>
  <li>The borrowers can also afford to have mortgage loans because the rates  are decreased with the help of the insurance.</li></ul>


<p><strong>How To Be Qualified For This Insurance</strong>
There are some primary requirements  that you have to fulfill to become eligible for this insurance.</p>
 
<ul>
  <li>The maximum amortization period for the insured  property is 25 years.</li>
  <li>The insurance is not applicable if you are buying a  home which costs more than $1 million.</li>
  <li>If you are purchasing the home with the price between  $500,000 and, $999,999 then you need to make a higher down payment.</li>
</ul>
<p><strong>Where To Get The Insurance</strong>
  Apart from CMHC there are two other  entities in Canada who can offer you this insurance. They are Genworth  Financial and Canada Guaranty. </p>
</div>

                                <div class="mortapb" style="margin-top: 35px;">
                                    <a href="{{path('mortgage_rates',{'target':'best','ratetype':'fixed'})}}" class="an-button">Best Available Rates</a>
                                </div>
                            </article>
                        </div>
                    
                    

<!-- SIDEBAR -->
                    <aside class="col-md-3 sidebar" id="sidebar">
                    
                    <!-- widget car categories -->
                    <div class="widget shadow car-categories">
                        <h4 class="widget-title">Mortgage Categories</h4>
                        <div class="widget-content">
                            <ul>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-calculator"></i> &nbsp; Calculators</a>
                                    <ul class="children active">
                                                <li><a href="{{path('mortgage_payment')}}">Mortgage Payment</a></li>
                                                <li><a href="{{path('payment_analyzer')}}">Payment Analyzer</a></li>
                                                <li><a href="{{path('income_cal')}}">Income Calculator</a></li>
                                                <li><a href="{{path('affordability_cal')}}">Mortgage Affordability</a></li>
                                                <li><a href="{{path('chmc_insurance')}}">Mortgage Insurance</a></li>
                                                <li><a href="{{path('land_transfer_tax')}}">Land Transfer Tax</a></li>
                                                <li><a href="{{path('refinance-calculator')}}">Refinance Calculator</a></li>
                                                <li><a href="{{path('equity_refinance')}}">Refinance Equity</a></li>
                                                <li><a href="{{path('refinance_penalty')}}">Refinance Penalty</a></li>
                                                <li><a href="{{path('debt-consolidation-calculator')}}">Debt Consolidation</a></li>
                                     </ul>
                                </li>
                                <li> 
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Home Buying Process</a>
                                    <ul class="children">
                                        
                                                {% for a in educationall %}
                                                        {% if a.parentCategory == '6' %}
                                                            <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                       
                                </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Renewing Mortgage</a>
                                    <ul class="children">
                                       {% for a in educationall %}
                                                        {% if a.parentCategory == '18' %}
                                                            <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <span class="arrow"><i class="fa fa-angle-down"></i></span>
                                    <a href="#"><i class="fa fa-book"></i> &nbsp; Refinancing Guide</a>
                                    <ul class="children">
                                      {% for a in educationall %}
                                                        {% if a.parentCategory == '1' %}
                                                            <li><a href="{{path('dynmaicurl',{'urlparam': a.pageUrl})}}">{{a.category}}</a></li>
                                                            {% endif %}
                                                        {% endfor %}
                                    </ul>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!-- /widget car categories -->
                   
                                 </aside>
                    <!-- /SIDEBAR -->
    
                </div>
            </div>
        </section>
        {{ render(controller('MainRatetradeBundle:Default:Footer')) }}


<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.widget.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.accordion.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.tabs.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.loadmask.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/globalize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/chmccal_ratetrade.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.mouse.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.slider.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.datepicker.min.js') }}"></script>

       
    </body>
</html>
