<!doctype html>
<html lang="en">
    <head>
        <title>Real Estate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=content-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        
        <meta name="geo.region" content="CA" />
        <meta name="title" content="Real Estate">
        <meta name="description" content="Real Estate"> 
        <meta property="og:type" content="article" />
        <meta name="og:title" content="Real Estate">
        <meta name="og:description" content="Real Estate">
        <meta property="og:site_name" content="Rate Trade" />
        <meta property="article:publisher" content="https://www.facebook.com/ratetrade/" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:description" content="Real Estate">
        <meta name="twitter:title" content="Real Estate">
        <meta name="twitter:site" content="@ratetrade" />
        <meta name="twitter:creator" content="@ratetrade" /> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="favicon.ico" rel="shortcut icon" type="image/png">
    <link href="favicon.ico" rel="apple-touch-icon">
    <link href="favicon.ico" rel="apple-touch-icon" sizes="72x72">
    <link href="favicon.ico" sizes="114x114">
    <link href="favicon.ico" rel="apple-touch-icon" sizes="144x144">
    <link href="{{asset('./bundles/assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/bootstrap-select/css/bootstrap-select.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/fontawesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/prettyphoto/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/owl-carousel2/assets/owl.theme.default.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/plugins/swiper/css/swiper.min.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme.css')}}" rel="stylesheet">
    <link href="{{asset('./bundles/assets/css/theme-red-1.css')}}" rel="stylesheet" id="theme-config-link">
    <script src="{{asset('./bundles/assets/plugins/modernizr.custom.js')}}"></script>
        <script language="JavaScript" 
                src="http://www.iplocationtools.com/iplocationtools.js?key=7b71786a7773756d6a207270">
        </script>
 
           {{ render(controller('MainRatetradeBundle:Default:Header')) }}
    <!-- /HEADER -->
    <!-- CONTENT AREA -->
    <div class="content-area">

        <!-- BREADCRUMBS -->
        <section class="page-section breadcrumbs text-right">
            <div class="container">
                <div class="page-header">
                             <h1 class="entrytitle">Real Estate</h1>
</div>
                <ul class="breadcrumb"> 
                                <li>Home</li>
                                <li class="active">Real Estate</li>
                </ul>
            </div>
        </section>
<!-- /BREADCRUMBS -->
 <!-- PAGE WITH SIDEBAR -->
        <section class="page-section with-sidebar">
            <div class="container">
                <div class="row">
                   

 <!-- CONTENT -->
                    <div class="col-md-12 content" id="content">

                        <!-- Blog posts -->
                        <article class="post-wrap">
                            <div class="post-media">


                            <div class="content-boxes blist">
<div class="banklist">
<h2>RATE TRADE is only redirecting user to the banks website whereas RATE RATE is independent site<br/>and is not associated to any Real Estate.</h2>
<div><img src="{{asset('./bundles/assets/img/scotiabank-logo.png')}}" alt="scotiabank-logo"/><a href="http://www.realhomes4u.ca/" target="_blank">Visit Detail</a></div>

</div>


     </div>
</div>
</article>
</div>
</div></div></section>
                     <!-- FOOTER -->
      {{ render(controller('MainRatetradeBundle:Default:Footer')) }}
<!-- /WRAPPER -->

</body>
</html>
                       