        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/common.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/products.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/add-product.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/admin-manager.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/emicalculator.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/jquery-ui.css')}}">
           <div class="left-details" style="min-height: 326px;">
                <div class="right-inner">
                    <div class="inner">
                        <form class="imageform">
                        <div class="entry-content">
                            <div id="emicalcalulatorinnerform" style="padding: 0px 0px 10px;">
                                <div class="lamount">
                                    <label for="loanamount" class="orange"><strong>Property Value ($)</strong> </label>
                                    <span></span>
                                    <input id="loanamount" name="loanamount" value="" type="text" />

                                </div>
                                <div id="loanamountslider"></div>
                                <div id="loanamountsteps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 25%;">|<br/><span class="marker">$250,000</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">$500,000</span></span>
                                    <span class="tick" style="left: 75%;">|<br/><span class="marker">$750,000</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">$1M</span></span>
                                </div>
                                <div class="sep lint">
                                    <label for="loaninterest" class="orange"><strong>Down Payment (%)</strong> </label>
                                    <span></span>
                                    <input id="loaninterest" name="loaninterest" value="20" type="text" />
                                    <label class="down-error" style="color: #993A00;display: none;"> Minimum Downpayment Allowed is 5% </label>
                                </div>
                                <div id="loaninterestslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">5</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">7.5</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">10</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">12.5</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">15</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">17.5</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">20</span></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
           <div class="right-details">
              <div class="box-7">
                <strong class="orange">Property Value</strong>
                <input id="loanamount-res" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
            </div>
            <div class="box-7">
                <strong class="orange">Down Payment</strong>
                <input id="down-payment" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
            </div>
            <div class="box-7">
                <strong class="orange">CHMC / GE / CG</strong>
                <input id="chmc-ins" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/> 
            </div>
            <div class="box-7">
                <strong class="orange">Mortgage Required</strong>
                <input id="mort-reqd" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
            </div>
            
            </div>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery_ss.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.widget.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.accordion.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.tabs.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/superfish.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.loadmask.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/globalize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/chmccal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.mouse.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.slider.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.datepicker.min.js') }}"></script>
