<!DOCTYPE html>
<html>
    <head>
        <title>RateTrade.ca | Contact</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{{asset('./bundles/acmedemo/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{asset('./bundles/acmedemo/css/style_bag.css')}}"/>
        <link rel="stylesheet" href="{{asset('./bundles/acmedemo/css/custom.css')}}"/>
    </head>
    <body>
        <div>
           {{ render(controller('AcmeDemoBundle:Mortgage:header')) }}
            <div class="container rateTradelogo">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Contact Details</h1>
                    </div>
                </div>
            </div>
            <div class="container">
               {# <div class="row">
                    <div class="col-md-8">
                       <!-- Embedded Google Map -->
                       <div id="map" style="height:200px;width:100%;"></div>
                    </div>
                    <div class="col-md-4">
                        <h3>RateTrade.ca</h3>
                        <p>
                            139-2960 Drew Road<br>Malton , ON L4T 0A5<br>
                        </p>
                        <p><i class="fa fa-phone"></i> 
                            <abbr title="Phone">P</abbr>: 1-855-239-7500 (Toll Free)</p>
                        <p><i class="fa fa-envelope-o"></i> 
                            <abbr title="Email">E</abbr>: <a href="mailto:contact@ratetrade.ca">contact@ratetrade.ca</a>
                        </p>
                        <p><i class="fa fa-clock-o"></i> 
                            <abbr title="Hours">Brokerage No</abbr>: 10441</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li>
                                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Send us a Message</h3>
                            <form novalidate="" id="contactForm" name="sentMessage">
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Full Name:</label>
                                        <input type="text" data-validation-required-message="Please enter your name." required="" id="name" class="form-control">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Phone Number:</label>
                                        <input type="tel" data-validation-required-message="Please enter your phone number." required="" id="phone" class="form-control">
                                        <div class="help-block"></div></div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Email Address:</label>
                                        <input type="email" data-validation-required-message="Please enter your email address." required="" id="email" class="form-control">
                                        <div class="help-block"></div></div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Message:</label>
                                        <textarea style="resize:none" maxlength="999" data-validation-required-message="Please enter your message" required="" id="message" class="form-control" cols="100" rows="10"></textarea>
                                        <div class="help-block"></div></div>
                                </div>
                                <div id="success"></div>
                                <!-- For success/fail messages -->
                                <button class="btn btn-primary" type="submit">Send Message</button>
                            </form>
                        </div>

                    </div>
                </div>
				#}
            </div>
            {{ render(controller('AcmeDemoBundle:Mortgage:footer')) }}
        </div>
        <script src="{{asset('./bundles/acmedemo/js/jquery_bag.min.js')}}"></script>
        <script src="{{asset('./bundles/acmedemo/js/bootstrap.min.js')}}"></script>
        <script>

function initMap() {
  var myLatLng = {lat: 43.7094238, lng: -79.6556425};
  var centerLatLng = {lat: 46, lng: -79.6556425};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: centerLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'RateTrade.ca'
  });
  
   var contentString = '<b>RateTrade.ca</b><br/>139-2960 Drew Road<br/>\n\
          Malton , ON L4T 0A5';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  infowindow.open(map, marker);
}

    </script>
 <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX7Bvp05eJ9hKonUVwnNYYYNjEsnCAsog&signed_in=true&callback=initMap"></script>
    </body>
</html>