<div class="navbar  navbar-inverse">
    <div class="container">
        <p style="color: #cccccc;margin: 0;padding: 14px 0;display: inline;">Copyright &copy; {{ "now"|date("Y") }} 
            &nbsp;&nbsp;RateTrade.ca</p>
           
    </div>
             <div class="container">
       
     <a href="#"><img style="height:50px;" src="{{asset('./bundles/acmedemo/images/fb.png')}}"></a>
            <a href="#"><img style="height:50px;" src="{{asset('./bundles/acmedemo/images/linkedin.png')}}"></a>
            <a href="#"><img style="height:50px;" src="{{asset('./bundles/acmedemo/images/gplus.png')}}"></a>
            <a href="#"><img style="height:50px;" src="{{asset('./bundles/acmedemo/images/twitter.png')}}"></a>
             </div>
</div>