<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/products.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/add-product.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/admin-manager.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/emicalculator.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/jquery-ui.css')}}">
<div class="left-details newdatain">
    <div class="right-inner">
        <div class="inner">
            <form class="imageform">
                <div class="entry-content framecontent">
                    <div id="emicalcalulatorinnerform" style="padding: 0px 0px 10px;">
                        <div class="pbox pboxnew">
                        <div class="lamount">
                            <label for="loanamount" class="orange"><strong>Property Value ($)</strong> </label>
                            <span></span>
                        </div> <div class="datafeild">
                            <input id="loanamount" name="loanamount" value="" type="text" />
                        <div id="loanamountslider"></div>
                        <div id="loanamountsteps" class="steps">
                            <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                            <span class="tick" style="left: 25%;">|<br/><span class="marker">$500,000</span></span>
                            <span class="tick" style="left: 50%;">|<br/><span class="marker">$1M</span></span>
                            <span class="tick" style="left: 75%;">|<br/><span class="marker">$1.5M</span></span>
                            <span class="tick" style="left: 100%;">|<br/><span class="marker">$2M</span></span>
                        </div>
                        </div>
                        </div>
<div style="clear:both"></div>
                <div class="pbox">
                  <div class="lamount" style="padding-right: 34px;">
                    <label class="orange">
                    <strong>Province</strong>
                    </label>
                  </div>
                <div class="datafeild">
                <div class="fields">
                    <select id="province" name="province" >
                        <option value="AL">Alberta</option>
                        <option value="BC">British Columbia</option>
                        <option value="MA">Manitoba</option>
                        <option value="NB">New Brunswick</option>
                        <option value="NE">Newfoundland</option>
                        <option value="NS">Nova Scotia</option>
                        <option value="NT">Northwest Territories</option>
                        <option value="NU">Nunavut</option>
                        <option value="ON" selected="selected">Ontario</option>
                        <option value="PE">Prince Edward Island</option>
                        <option value="QU">Quebec</option>
                        <option value="SK">Saskatchewan</option>
                        <option value="YU">Yukon</option>				
                    </select>
                </div></div></div>
                <div class="pbox">
                  <div class="lamount" style="padding-right: 34px;">
                <label class="orange">
                    <strong>City</strong>
                </label>
                  </div><div class="datafeild">
                <div class="fields">
                    <select id="city" name="city" >

                    </select>
                </div></div></div>
                <div style="clear:both"></div>
                <div class="firstt" style="color:rgb(35, 98, 2);">
                    I am a first time home buyer&nbsp;<input type="checkbox" id="first-time" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="left-details" style="margin-top: -10px">
    <div class="box-4 landresult">
        <strong class="orange">Provincial</strong>
        <input id="pro" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
    </div>
    <div class="box-4 landresult">
        <strong class="orange">Municipal</strong>
        <input id="mum" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
    </div>
    <div class="box-4 landresult">
        <strong class="orange">Rebate</strong>
        <input id="reb" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/> 
    </div>
    <div class="box-4 landresult">
        <strong class="orange">Land Transfer Tax</strong>
        <input id="tot" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
    </div>

</div>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery_ss.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.widget.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.accordion.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.tabs.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/superfish.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.loadmask.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/globalize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/lttcal.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.mouse.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.slider.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.datepicker.min.js') }}"></script>