<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Mortgage Payment Calculator</title>
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/common.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/products.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/add-product.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/admin-manager.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/emicalculator.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/jquery-ui.css')}}">
        <style type="text/css">
            ${demo.css}
        </style>
    </head>
    <body>
        <div class="header">
            <div class="wrapper"> <a href="#" onclick="window.history.back();" class="home-ico">
                    <img src="/symfonyratetrade/web/bundles/acmedemo/images/back.png">
                </a>
                <span class="page-name">EMI Calculator</span> </div>
        </div>
        <div class="headerfix"></div>
        <div class="wrapper bodywrapper">
            <div class="left-nav"> 
                <a href="{{path('mortgage_payment')}}" class="selected">EMI Calculator</a>
                <a href="{{path('chmc_insurance')}}">CHMC Calculator</a> 
                <a href="{{path('land_transfer_tax')}}">Land Transfer Tax</a>
                <a href="{{path('equity_refinance')}}">Refinance Equity</a>
                <a href="{{path('refinance_penalty')}}">Refinance Penalty</a>
            </div>
            <div class="right-details">
                <div class="right-inner">
                    <div class="inner">
                        <form class="imageform">
                        <div class="entry-content">
                            <div id="emicalcalulatorinnerform">
                                <div class="lamount">
                                    <label for="loanamount"><strong>Property Value</strong> </label>
                                    <span><img class="num-icon" src="{{asset('./bundles/acmedemo/images/us-dollar-xxl.png')}}"></span>
                                    <input id="loanamount" name="loanamount" value="500,000" type="text" />

                                </div>
                                <div id="loanamountslider"></div>
                                <div id="loanamountsteps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 25%;">|<br/><span class="marker">2.5L</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">5L</span></span>
                                    <span class="tick" style="left: 75%;">|<br/><span class="marker">7.5L</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">10L</span></span>
                                </div>
                                <div class="sep lint">
                                    <label for="loaninterest"><strong>Down Payment</strong> </label>
                                    <span><img class="num-icon" src="{{asset('./bundles/acmedemo/images/128.png')}}"></span>
                                    <input id="loaninterest" name="loaninterest" value="12.5" type="text" />
                                </div>
                                <div id="loaninterestslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">5</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">7.5</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">10</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">12.5</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">15</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">17.5</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">20</span></span>
                                </div>

                                <div class="sep lint">
                                    <label for="loanterm"><strong>Ammortization Period</strong> </label>
                                    <span><img class="num-icon" src="{{asset('./bundles/acmedemo/images/y-icon.png')}}"></span>
                                    <input id="loanterm" name="loanterm" value="15" type="text" />
                                </div>
                                <div id="loantermslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">5</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">10</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">15</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">20</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">25</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">30</span></span>
                                </div>

                                <div class="sep lint">
                                    <label for="mortrate"><strong>Mortgage Rate</strong> </label>
                                    <span><img class="num-icon" src="{{asset('./bundles/acmedemo/images/128.png')}}"></span>
                                    <input id="mortrate" name="mortrate" value="12.5" type="text" />
                                </div>
                                <div id="mortrateslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">5</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">7.5</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">10</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">12.5</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">15</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">17.5</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">20</span></span>
                                </div>

                                <div class="result">
                                    <table>
                                        <tr>
                                            <th>Property Value</th>
                                            <th>-</th>
                                            <th>Down Payment</th>
                                            <th>+</th>
                                            <th>CHMC</th>
                                            <th>=</th>
                                            <th>Mortgage Required</th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input id="loanamount-res" name="loanamount" value="500,000" type="text" disabled="disabled" style="text-align:center;color:#000;"/>
                                            </th>
                                            <th>&nbsp;</th>
                                            <th>
                                                <input id="down-payment" value="60,000" type="text" disabled="disabled" style="text-align:center;color:#000;"/>
                                            </th>
                                            <th>&nbsp;</th>
                                            <th>
                                                <input id="chmc-ins" value="10,560" type="text" disabled="disabled" style="text-align:center;color:#000;"/> 
                                            </th>
                                            <th>&nbsp;</th>
                                            <th>
                                                <input id="mort-reqd" value="450560" type="text" disabled="disabled" style="text-align:center;color:#000;"/>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <input class="payment-freq" name="installment" value="monthly" type="radio" checked="checked"/><br/>Monthly
                                            </th>
                                            <th>&nbsp;</th>
                                            <th>
                                                <input class="payment-freq" name="installment" value="semi_monthly" type="radio"/><br/>Semi Monthly
                                            </th>
                                            <th>&nbsp;</th>
                                            <th>
                                                <input class="payment-freq" name="installment" value="acc_bi_weekly" type="radio"/><br/>Accelerated Bi Weekly 
                                            </th>
                                            <th>&nbsp;</th>
                                            <th>
                                                <input class="payment-freq" name="installment" value="weekly" type="radio"/><br/>Weekly
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="3" class="result">Your EMI</th>
                                            <th class="result" >=</th>
                                            <th colspan="3" class="emi-data result"></th>
                                        </tr>
                                    </table>
                                </div>


                            </div>


                        </div>
                        {#<div class="calc">
                            <a href="#" style="line-height:50px;font-size: 22px;" class="get-ammort"> Amortization Schedule </a>
                            <div id="ammort-div" style="display:none;">
                                <div id="graph-downpay-div">   
                                </div>
                                <table>
                                    <tr>
                                        <td><div id="container"></div></td>
                                    </tr>
                                    <tr>
                                        <td><div id="container1"></div></td>
                                    </tr>
                                </table>

                                <div id="emipaymenttable">

                                </div>  
                            </div>
                        </div>#}
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery_ss.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.widget.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.accordion.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.tabs.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/superfish.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.loadmask.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/globalize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/emical.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.mouse.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.slider.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/highcharts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/exporting.js') }}"></script>   
    </body>
</html>