<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/common.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/products.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/add-product.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/admin-manager.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/emicalculator.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/jquery-ui.css')}}">
<style type="text/css">
    ${demo.css}

    #ana-result td{
        padding: 20px;
    }
</style>
<div class="left-details" style="width:100%!important;">
    <div class="right-inner">
        <div class="inner">
            <form class="imageform">
                <div class="entry-content">
                    <div id="emicalcalulatorinnerform" style="padding: 0px 0px 10px;">
                        <div class="pbox">
                            <div class="lamount">
                                <label for="loanamount" class="orange"><strong>Mortgage Amount ($)</strong> </label>
                                <span></span>
                            </div>
                            <div class="datafeild">
                                <label class="property-error" style="color: #993A00;"></label>
                                <input id="loanamount" name="loanamount" value="" type="text" />
                                <div id="loanamountslider" style="margin-top: 45px;"></div>
                                <div id="loanamountsteps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 25%;">|<br/><span class="marker">$500,000</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">$1M</span></span>
                                    <span class="tick" style="left: 75%;">|<br/><span class="marker">$1.5M</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">$2M</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="pbox">
                            <div class="sep lint">
                                <label for="loanterm" class="orange"><strong class="orange">Ammortization Period (Yr)</strong> </label>
                                <span></span>
                            </div>
                            <div class="datafeild">
                                <label class="ammort-error" style="color: #993A00;"></label>
                                <input id="loanterm" name="loanterm" value="" type="text" />
                                <div id="loantermslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 19.67%;">|<br/><span class="marker">5</span></span>				            
                                    <span class="tick" style="left: 39.8%;">|<br/><span class="marker">10</span></span>
                                    <span class="tick" style="left: 59.8%;">|<br/><span class="marker">15</span></span>
                                    <span class="tick" style="left: 79.67%;">|<br/><span class="marker">20</span></span>				            
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">25</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="pbox">
                            <div class="sep lint">
                                <label for="mortrate" class="orange"><strong class="orange">Mortgage Rate (%)</strong> </label>
                                <span></span>
                            </div>
                            <div class="datafeild">
                                <label class="mortrate-error" style="color: #993A00;"></label>
                                <input id="mortrate" name="mortrate" value="" type="text" />
                                <div id="mortrateslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">1.75</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">3.5</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">5</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">6.75</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">8.5</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">10</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="left-details" style="width:100%!important;">
    <br/><br/>
    <div class="box-full payresult">
        <table id="ana-result">
            <tr class="aprow">
                <td><strong style="color:rgb(127, 0, 135);">&nbsp;</strong></td>
                <td><span style="color: rgb(35, 98, 2);">Monthly</span></td>
                <td><span style="color: rgb(35, 98, 2);">Semi Monthly</span></td>
                <td><span style="color: rgb(35, 98, 2);">Bi Weekly</span> </td>
                <td><span style="color: rgb(35, 98, 2);">Accelerated Bi Weekly</span></td>
                <td><span style="color: rgb(35, 98, 2);">Weekly</span></td>
                <td><span style="color: rgb(35, 98, 2);">Accelerated Weekly</span></td>
            </tr>
            <tr>
                <td><strong style="color:rgb(127, 0, 135);">Payment</strong></td>
                <td><span class="emi-monthly" style="font-size: 15px;"></span></td>
                <td><span class="emi-semi_monthly" style="font-size: 15px;"></span></td>
                <td><span class="emi-bi_weekly" style="font-size: 15px;"></span></td>
                <td><span class="emi-acc_bi_weekly" style="font-size: 15px;"></span></td>
                <td><span class="emi-weekly" style="font-size: 15px;"></span></td>
                <td><span class="emi-acc_weekly" style="font-size: 15px;"></span></td>
            </tr>
            <tr>
                <td><strong style="color:rgb(127, 0, 135);">Ammortization</strong></td>
                <td><span class="monthly-ammort" style="font-size: 15px;"></span></td>
                <td><span class="semi_monthly-ammort" style="font-size: 15px;"></span></td>
                <td><span class="bi_weekly-ammort" style="font-size: 15px;"></span></td>
                <td><span class="acc_bi_weekly-ammort" style="font-size: 15px;"></span></td>
                <td><span class="weekly-ammort" style="font-size: 15px;"></span></td>
                <td><span class="acc_weekly-ammort" style="font-size: 15px;"></span></td>
            </tr>
        </table>
    </div>
	  <div class="box-full payresult1" style="display:none;">
        <table id="ana-result1">
            <tr>
              <th coslspan="2"><strong style="color:rgb(127, 0, 135);">Payment</strong></th>
            
            </tr>
            <tr>
                <td><span style="color: rgb(35, 98, 2);">Monthly</span></td>   <td><span class="emi-monthly" style="font-size: 15px;"></span></td></tr><tr>
                <td><span style="color: rgb(35, 98, 2);">Semi Monthly</span></td> <td><span class="emi-semi_monthly" style="font-size: 15px;"></span></td></tr><tr>
                <td><span style="color: rgb(35, 98, 2);">Bi Weekly</span> </td><td><span class="emi-bi_weekly" style="font-size: 15px;"></span></td></tr><tr>
                <td><span style="color: rgb(35, 98, 2);">Accelerated Bi Weekly</span></td><td><span class="emi-acc_bi_weekly" style="font-size: 15px;"></span></td></tr><tr>
                 <td><span style="color: rgb(35, 98, 2);">Weekly</span></td> <td><span class="emi-weekly" style="font-size: 15px;"></span></td></tr><tr>
                  <td><span style="color: rgb(35, 98, 2);">Accelerated Weekly</span></td> <td><span class="emi-acc_weekly" style="font-size: 15px;"></span></td>
            </tr>
            <tr>
                <th colspan="2"><strong style="color:rgb(127, 0, 135);">Ammortization</strong></th></tr><tr>
                 <td><span style="color: rgb(35, 98, 2);">Monthly</span></td>  <td><span class="monthly-ammort" style="font-size: 15px;"></span></td></tr><tr>
                <td><span style="color: rgb(35, 98, 2);">Semi Monthly</span></td> <td><span class="semi_monthly-ammort" style="font-size: 15px;"></span></td></tr><tr>
                   <td><span style="color: rgb(35, 98, 2);">Bi Weekly</span> </td><td><span class="bi_weekly-ammort" style="font-size: 15px;"></span></td></tr><tr>
                 <td><span style="color: rgb(35, 98, 2);">Accelerated Bi Weekly</span></td><td><span class="acc_bi_weekly-ammort" style="font-size: 15px;"></span></td></tr><tr>
                 <td><span style="color: rgb(35, 98, 2);">Weekly</span></td> <td><span class="weekly-ammort" style="font-size: 15px;"></span></td></tr><tr>
                  <td><span style="color: rgb(35, 98, 2);">Accelerated Weekly</span></td><td><span class="acc_weekly-ammort" style="font-size: 15px;"></span></td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery_ss.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.widget.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.accordion.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.tabs.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/superfish.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.loadmask.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/globalize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/analyser_ratetrade.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.mouse.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.slider.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/acmedemo/js/exporting.js') }}"></script>