<link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/common.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/products.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/add-product.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/admin-manager.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/emicalculator.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('./bundles/acmedemo/css/jquery-ui.css')}}">
    <div class="left-details">
                <div class="right-inner">
                    <div class="inner">
                        <form class="imageform">
                            <div class="entry-content">
                                <div id="emicalcalulatorinnerform" style="padding: 0px 0px 10px;">
                                     <div class="pbox">
                                    <div class="lamount">
                                        <label for="loanamount" class="orange"><strong>Remaining Balance on Mortgage ($)</strong> </label>
                                        <span></span></div><div class="datafeild">
                                        <input id="loanamount" name="loanamount" value="" type="text" />
                                    <div id="loanamountslider" style="margin-top: 45px;"></div>
                                    <div id="loanamountsteps" class="steps">
                                        <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                        <span class="tick" style="left: 25%;">|<br/><span class="marker">$250,000</span></span>
                                        <span class="tick" style="left: 50%;">|<br/><span class="marker">$500,000</span></span>
                                        <span class="tick" style="left: 75%;">|<br/><span class="marker">$750,000</span></span>
                                        <span class="tick" style="left: 100%;">|<br/><span class="marker">$1M</span></span>
                                    </div>
                                 </div>
                            </div>
                           <div style="clear:both"></div>
                            <div class="refdetail1">
                             <div class="pbox"><div class="lamount">
                            <label class="orange">
                                <strong>Mortgage Start Date</strong>
                            </label></div>
                            <div class="datafeild">
                            <div class="fields">
                                <select id="date" style="width:30%;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option></select>
                                &nbsp;
                                <select id="month" style="width:30%;">
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                                &nbsp;
                                <select id="year" style="width:30%;"><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016" selected>2016</option></select>
                            </div></div></div>
                            <div style="clear:both"></div>
                            <div class="pbox">
                              <div class="lamount">
                            <label class="orange">
                                <strong>Mortgage Original Term</strong>
                            </label></div><div class="datafeild">
                            <div class="fields">
                                <select id="mort-term" style="width:30%;">
                                    <option>Select Term</option>
                                    <option>1</option>
                                    <option selected>3</option>
                                    <option>5</option>
                                    <option>10</option>
                                </select></div></div></div>
                            <div style="clear:both"></div>
                               <div class="pbox">
                               <div class="lamount">
                            <label class="orange">
                                <strong>Type of Existing Mortgage</strong>
                            </label></div><div class="datafeild">
                            <div class="fields">
                                <input type="radio" name="mort-type" class="mort-type" value="variable" checked="checked"/> Variable
                                &nbsp;&nbsp;<input type="radio" name="mort-type" class="mort-type" value="fixed" /> Fixed   
                            </div>
</div></div>
</div>
                            <div style="clear:both"></div>
                            <div class="pbox">
                             <div class="sep lint">
                                    <label for="loaninterest" class="orange"><strong>Existing Mortgage Rate (%)</strong> </label>
                                    <span></span></div><div class="datafeild">
                                    <input id="loaninterest" name="loaninterest" value="2.99" type="text" />
                                <div id="loaninterestslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">1.75</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">3.5</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">5</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">6.75</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">8.5</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">10</span></span>
                                </div></div></div>
                               <div style="clear:both"></div> 
                               <div class="pbox">
                               <div class="sep lint">
                                    <label for="newloaninterest" class="orange"><strong>New Mortgage Rate (%)</strong> </label>
                                    <span></span></div><div class="datafeild">
                                    <input id="newloaninterest" name="newloaninterest" value="1.99" type="text" />
                                <div id="newloaninterestslider"></div>
                                <div id="loanintereststeps" class="steps">
                                    <span class="tick" style="left: 0%;">|<br/><span class="marker">0</span></span>
                                    <span class="tick" style="left: 16.67%;">|<br/><span class="marker">1.75</span></span>				            
                                    <span class="tick" style="left: 33.34%;">|<br/><span class="marker">3.5</span></span>
                                    <span class="tick" style="left: 50%;">|<br/><span class="marker">5</span></span>
                                    <span class="tick" style="left: 66.67%;">|<br/><span class="marker">6.75</span></span>				            
                                    <span class="tick" style="left: 83.34%;">|<br/><span class="marker">8.5</span></span>
                                    <span class="tick" style="left: 100%;">|<br/><span class="marker">10</span></span>
                                </div></div></div>
                             <div class="refdetail1">
                            <div class="pbox">
                               <div class="lamount">
                            <label class="orange">
                                <strong>Province</strong>
                            </label></div><div class="datafeild">
                            <div class="fields">
                            <select id="province" name="province" >
		                <option value="AL">Alberta</option>
		                <option value="BC">British Columbia</option>
                                <option value="MA">Manitoba</option>
                                <option value="NB">New Brunswick</option>
                                <option value="NE">Newfoundland</option>
				<option value="NS">Nova Scotia</option>
                                <option value="NT">Northwest Territories</option>
				<option value="NU">Nunavut</option>
                                <option value="ON" selected="selected">Ontario</option>
                                <option value="PE">Prince Edward Island</option>
                                <option value="QU">Quebec</option>
				<option value="SK">Saskatchewan</option>
				<option value="YU">Yukon</option>				
			    </select>    
                            </div></div></div>
                            <div style="clear:both"></div>
                            <div class="pbox">
                               <div class="lamount">
                            <label class="orange">
                                <strong>Mortgage Provider</strong>
                            </label></div><div class="datafeild">
                            <div class="fields">
                                <select id="provider" name="provider" >
		                <option value="hsbc">HSBC</option>
                                <option value="rbc">RBC</option>
                                <option value="bmo">BMO</option>
			    </select>
                            </div></div></div></div>                              
                                </div></div></form>
                    </div>
                </div>
            </div>
            <div class="left-details" style="width:99%!important; margin-top: -10px; padding: 0 9px 0 14px;margin-left:3px;">
                 <div class="box-7 resultam1">
                    <strong class="orange">Provider Dishcharge Fee</strong>
                    <input id="discharge-fee" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
                </div>
                <div class="box-7 resultam1">
                    <strong class="orange">Mortgage Penalty</strong>
                    <input id="mortgage-penalty" value="" type="text" disabled="disabled" style="text-align:center;color:rgb(35, 98, 2);"/>
                </div>
            </div>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery_ss.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.widget.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.accordion.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.tabs.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/superfish.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.loadmask.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/globalize.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/penalty.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.mouse.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.slider.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/acmedemo/js/jquery.ui.datepicker.min.js') }}"></script>